<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Enginaar | Transaction Logs</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div th:replace="header"></div>
    <div class="container text-center">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Action</th>
                    <th>Inserted By</th>
                    <th>Inserted At</th>
                    <th>Updated At</th>
                    <th>Payload</th>
                    <th>Old Payload</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="log: ${transactions}">
                    <td th:text="${log.action}">Action</td>
                    <td th:text="${log.insertedBy}">Inserted By</td>
                    <td th:text="${log.insertedAt}">Inserted At/td>
                    <td th:text="${log.lastModifiedAt}">updatedAt/td>
                    <td th:text="${log.newPayload}">Payload</td>
                    <td th:text="${log.oldPayload}">Old Version</td>
                    <td th:text="${log.status}">Status</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>