<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Enginaar | Register a city</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container text-center">
        <div>
            <h1>City Registration</h1>
        </div>
        <form th:action="@{/app/city}" th:object="${city}" method="post">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Name </label>
                    <div class="col-8">
                        <input type="hidden" th:field="*{id}" class="form-control" />
                        <input type="text" th:field="*{name}" class="form-control" required />
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
        <nav class="navbar navbar-light bg-light" th:if="${city.id != null}">
            <a class="btn btn-outline-success my-2 my-sm-0" th:href="@{/app/city/{city}/district/new(city=${city.id})}">New District</a>
        </nav>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="district: ${city.districts}">
                    <td th:text="${district.id}">District ID/td>
                    <td th:text="${district.name}">Name</td>
                    <td>
                        <a class="btn btn-outline-warning my-2 my-sm-0" th:href="@{/app/city/{cityId}/district/{id}(id=${district.id}, cityId=${city.id})}">Update</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger my-2 my-sm-0" th:href="@{/app/city/{cityId}/district/{id}/delete(id=${district.id}, cityId=${city.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>